body {
  font-family: "Inter", "Open Sans", sans-serif;
}

.navbar-brand img {
  height: 24px;
}

.dice {
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
  background-repeat: no-repeat;
}

.dice-1 {
  background-image: url("../assets/icons/black-dice.svg");
}

.dice-2 {
  background-image: url("../assets/icons/red-dice.svg");
}
.dice-3 {
  background-image: url("../assets/icons/jack-dice.svg");
}
.dice-4 {
  background-image: url("../assets/icons/queen-dice.svg");
}
.dice-5 {
  background-image: url("../assets/icons/king-dice.svg");
}
.dice-6 {
  background-image: url("../assets/icons/as-dice.svg");
}
