$primary: #016d29;
$secondary: #4569ac;
$warning: #ffc107;
$dark: #122936;
$light: #f2ebfa;

$font-family-sans-serif: "Roboto", "Open Sans", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";
